<!DOCTYPE html>
<html>
<head>
  <title>MusicTrax</title>
</head>
<body>

<%= signed_in? ? signed_in_panel : link_to('Sign in!', new_sign_in_url) %>
<%= flash_errors if flash[:errors] %>
<%= yield %>

</body>
</html>
